body
{
    background-color: #758BFD;
}
.box{
    position: relative;
    left: 600px;
    height: 700px;
    width: 300px;
    /* border: 1px solid black; */
    background-color: #1D4E89;
    color: azure;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
label{
    position: relative;
    top: 10px;
    left: 10px;
}
input,textarea{
    position: relative;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    top: 10px;
    left: 10px;
    transition: .3s box-shadow;
}
input:hover{
    box-shadow: 0 0 3px 3px rgb(255, 255, 255,0.50);
    
}
textarea:hover{
    box-shadow: 0 0 3px 3px rgb(255, 255, 255,0.50);

}
select:hover{
    box-shadow: 0 0 3px 3px rgb(255, 255, 255,0.50);

}
input[type=text] {
    padding: 3px;
    margin:10px 0;
}
input[type=date] {
    padding: 3px;
    margin:10px 0;
}
input[type=email] {
    padding: 3px;
    margin:10px 0;
}
input[type=password] {
    padding: 3px;
    margin:10px 0;
}
input[type=tel] {
    padding: 3px;
    margin:10px 0;
}
input[type=select] {
    padding: 3px;
    margin:10px 0;
}
input[type=number] {
    padding: 3px;
    margin:10px 0;
}
select{
    position: relative;
    top: 10px;
    left: 10px;
    padding: 3px;
    margin: 10px 0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    transition: .3s ;

}
.border-removed-input-select-textarea{
    border:0;
}



/* CSS */
.button-27 {
  position: relative;
  top: 20px;
  left: 100px;
  
  appearance: none;
  background-color: #1D4E89;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 0px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select:none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 35%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  background-color: #1A1A1A;
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
